$num-articles: 6; /* Set number of articles here (need to update markup accordingly) */
$num-cols: 3;  /* Set number of required columns here */
$components: header section footer;

body {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.container {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat($num-cols, 1fr);
}

.container article {
  display: contents;
}

article header {
  background-color: #eee;
}

article section {
  background-color: #ccc;
}
 
article footer {
  background-color: #ddd;
}

article:nth-child(n + #{$num-cols + 1}) header {
  margin-top: 1em;
}

@for $i from 1 through length($components) {
  @for $j from 1 through $num-articles {
    article:nth-child(#{$j}) #{nth($components, $i)} {
      grid-row: $i + length($components) * floor(($j - 1) / $num-cols);
      grid-column: 1 + ($j - 1) % $num-cols;
    }
  }
}